{% extends './layout.html' %}
{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}
{% block body %}
  <h1>Hello, {{ user['first_name'] }}</h1>
  <a href="/logout" class="button">Logout</a>
  <div class="gold">
    <p>Current Total: <span>{{ user['gold'] }}</span></p>
  </div>
  <div class="locations">
    {% for location in locations %} 
      <div class="location">
        <form action="/process" method="post">
          <h4>{{ location['name'] }}</h4>
          <p>Earns {{ location['min_gold'] }}-{{ location['max_gold'] }} Gold</p>
          <input type="hidden" name="location" value="{{ location['id'] }}">
          <input type="submit" value="Visit {{ location['name'] }}">
        </form>
      </div>
    {% endfor %}
  </div>
  <div class="activities">
    {% for activity in activities %}
      {% if activity['gold_amount'] >= 0%}
        <p class="green">You earned {{ activity['gold_amount'] }} golds at the {{ activity['name'] }} at {{ activity['created_at'] }}</p>
      {% else %}
        <p class="red">You lost {{ activity['gold_amount'] | abs }} golds at the {{ activity['name'] }} at {{ activity['created_at'] }}</p>
      {% endif %}
    {% endfor %}
  </div>
{% endblock %}