{% extends './layout.html' %}
{% block body %}
  <h1>Login or Register</h1>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <div class="form-container">
    <h2>Register</h2>
    <form action="/users/create" method="post">
      <label for="first_name">First Name:</label>
      <input type="text" name="first_name" placeholder="Vanilla">
      <label for="last_name">Last Name:</label>
      <input type="text" name="last_name" placeholder="Ice">
      <label for="email">Email:</label>
      <input type="text" name="email" placeholder="vanillaice@hotmail.com">
      <label for="password">Password:</label>
      <input type="password" name="password" placeholder="password">
      <label for="confirm">Confirm Password:</label>
      <input type="password" name="confirm" placeholder="password">
      <input type="submit" value="Register">
    </form>
  </div>
  <div class="form-container">
    <h2>Login</h2>
    <form action="/login" method="post">
      <label for="email">Email:</label>
      <input type="text" name="email" placeholder="vanillaice@hotmail.com">
      <label for="password">Password:</label>
      <input type="password" name="password" placeholder="password">
      <input type="submit" value="Register">
    </form>
  </div>
{% endblock %}