{% extends './layout.html' %}
{% block body %}
  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  <form action="{% url 'products:update' product.id %}" method="post">
    {% csrf_token %}
    <label for="name">Name:</label>
    <input type="text" name="name" placeholder="Socks" value="{{ product.name }}">
    <label for="num_available">Items In Stock:</label>
    <input type="number" name="num_available" placeholder="5" value="{{ product.num_available }}">
    <label for="price">Price:</label>
    <input type="number" name="price" placeholder="5.00" step="0.01" value="{{ product.price }}">
    <label for="description">Description:</label>
    <textarea name="description" id="" cols="30" rows="10">{{ product.description }}</textarea>
    <input type="submit" value="Edit Product">
  </form>
{% endblock %}